<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>LOGIN</h2>
        </div>
        <form (ngsubmit)="onlogin()" name ="loginform" [formgroup]="loginform">
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formcontrolname="email" matinput required />
                    <mat-error *ngif= "loginform.get('email').errors?.required">
                        Required email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <span class="aLink">Forgot password? </span>
                <mat-form-field class="-full-width" appearance="outline">
                    <mat-label> Password </mat-label>
                    <input formcontrolname="password" matinput [type]="hide ? 'password' : 'text'" required />
                    <button mat-icon-button matsuffix (click)="hide = !hide"
                    [attr.aria-label]= "'Hide password'" [attr.aira.pressed]= "hide">
                <mat-icon>{{ hide ? 'visibility off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngif="loginform.get('password').errors?.required">
                    Required password
                </mat-error>

                </mat-form-field>
            </div>
            <button mat-flat-button color="primary">LOGIN</button>
        </form>
    </mat-card-content>
</mat-card>
